
<div id="graph_container">
  <div id="y_axis"> </div>
  <div id="graph"></div>
</div>

<div id="buy_graph_data" style="display: none;">
  <%= @buy_graph_data.to_json %>
</div>

<div id="sell_graph_data" style="display: none;">
  <%= @sell_graph_data.to_json %>
</div>

<ul>
  <% @prices.each do |price| %>
    <li>
      High: <%= formatted_price price.high %>
      Low: <%= formatted_price price.low %>
      Buy: <%= formatted_price price.buy %>
    </li>
  <% end %>
</ul>
