<div class="container">
  <div class="col-md-5">
    <h1>New Wallet</h1>
    <%= form_for @wallet do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :cash_value %>
        <%= f.text_field :cash_value, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :btc_value %>
        <%= f.text_field :btc_value, class: "form-control" %>
      </div>
      <%= f.submit "Create Wallet", class: "btn btn-sm btn-primary" %>
      <% end %>
  </div>
</div>

