<div class="container">
  <h1><%= @wallet.name %></h1>

  <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#update_wallet">Edit Name</button>
  <button class="btn btn-xs btn-danger" data-toggle="modal" data-target="#delete_wallet">Delete Wallet</button>

  <br />
  <br />
  Cash Value:<%= @wallet.cash_value %>
  <br />
  BTC Value: <%= @wallet.btc_value %>
  <br />

  <%= link_to "New Trade", new_wallet_trade_path(@wallet), class: "btn btn-primary" %>


  <!-- Modal -->
  <div class="modal fade" id="delete_wallet" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Delete Wallet</h4>
        </div>
        <div class="modal-body">
          Are you sure you want to delete <%= @wallet.name %>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= link_to "Confirm", wallet_path(@wallet), method: :delete, class: "btn btn-danger" %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- Modal -->
  <div class="modal fade" id="update_wallet" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Update Wallet</h4>
        </div>
        <div class="modal-body">
          New name:
          <%= form_for @wallet do |f| %>
            <div class="form-group">
              <%= f.text_field :name, class: "form-control" %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit "Update Wallet", class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
