<h1>Confirm trade</h1>


<div>
  <h4>Starting funds for <%= link_to @wallet.name, wallet_path(@wallet) %></h4>
  <ul>
    <li>$<%= formatted_price @wallet.cash_value %></li>
    <li><%= formatted_price @wallet.btc_value %> BTC</li>
  </ul>
</div>

Transaction Type <%= @trade.transaction_type.titleize %>
<br />
<% if @trade.transaction_type == "buy" %>
  Buying <%= formatted_price @trade.buy_amount %> BTC
<% else %>
  Selling <%= formatted_price @trade.sell_amount %> BTC
<% end %>

<br />
<%= link_to "Confirm Trade", confirm_trade_wallet_trade_path(@wallet, @trade),
  method: :put, class: "btn btn-primary" %>
