<h1>New Trade</h1>

<div>
  <h4>Funds available in <%= link_to @wallet.name, wallet_path(@wallet) %></h4>
  <ul>
    <li>$<%= formatted_price @wallet.cash_value %></li>
    <li><%= formatted_price @wallet.btc_value %> BTC</li>
  </ul>
</div>

<p> Buying is CASH -> BTC</p><p> Selling is BTC -> CASH </p>

<%= form_for [@wallet, @trade] do |f| %>
  <div class="form-group">
    <%= f.label :buy %>
    <%= f.radio_button :transaction_type, "buy", checked: true %>

    <%= f.label :sell %>
    <%= f.radio_button :transaction_type, "sell" %>
  </div>

  <div class="form-group">
    <%= f.label :buy_amount, "Buy amount of bitcoins" %>
    <%= f.text_field :buy_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :sell_amount, "Sell amount of bitcoin" %>
    <%= f.text_field :sell_amount, class: "form-control" %>
  </div>
  <%= f.submit "Submit Trade", class: "btn btn-sm btn-primary" %>
<% end %>

